a {
  text-decoration: none;
}
// select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }
// select::-ms-expand {
//   display: none;
// }
.form-control:focus,
.form-select:focus {
  box-shadow: none;
}

.form-select option {
  background-color: $light;
  color: $dark;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
