<input type="checkbox" id="sidebar" class="d-none" checked>
<div class="border-end h-100 position-relative admin_panel_sidebar">
  <ul class="d-flex flex-column">
    <a class="px-4 py-4 border-bottom">
      <li class="" routerLink="add-employee-form">Add Employee</li>
    </a>
    <a href="" class="px-4 py-4 border-bottom">
      <li class="" routerLink="add-employee-form">Settings</li>
    </a>
    <a href="" class="px-4 py-4 border-bottom">
      <li class="" routerLink="add-employee-form">Delete Employee</li>
    </a>
    <a href="" class="px-4 py-4 border-bottom">
      <li class="" routerLink="add-employee-form">Employee Logs</li>
    </a>
  </ul>
</div>
<label for="sidebar" class="position-absolute openCloseSidebar">
  <span>></span>
  <span class="d-none">&lt;</span>
</label>
