<main class="px-1 px-sm-5  pb-2 pt-4">
  <!-- top section wrapper  -->
  <div class="d-flex justify-content-between  flex-column flex-sm-row align-items-center">
    <div class="heading_text_wrapper">
      <h2><span class="text-info">Top</span> Profiles</h2>
    </div>
    <!-- search bar div  -->
    <div class="">
      <form action="" [formGroup]="form"
        class="d-flex  justify-content-sm-center justify-content-between align-items-center">
        <div class="me-3">
          <div class="search_wrapper border border-primary d-flex align-items-center bg-primary rounded">
            <input type="search" class="form-control border border-primary rounded" name="" id=""
              placeholder="Search People" formControlName="search" [(ngModel)]="filter">
            <!-- <a href="javascript:void(0)" class="d-flex align-items-center h-100"><span
              class="icon-magnifier text-light px-2"></span></a> -->
          </div>

        </div>
        <div class="d-flex align-items-center">
          <span class="me-2 d-none d-sm-inline">sort:</span>
          <select name="" id=""
            class="form-select ms-0 bg-primary text-light ms-sm-2 border rounded border-2 border-primary"
            (change)="sort($event)" formControlName="sort" [(ngModel)]="sorting">
            <option value="" [selected]="true">ALL</option>
            <option value="HTML">HTML</option>
            <option value="HTML,CSS">HTML, CSS</option>
            <option value="HTML,CSS,JAVASCRIPT">HTML, CSS, JS</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <!-- card container  -->
  <section class="mt-4">
    <div class="row ge-1 gs-1 gt-1 gy-2">

      <div class="col-12 col-xxl-3 col-xl-4 col-lg-6" *ngFor="let data of data | filter:filter | sort:sorting">
        <div class="card_wrapper text-light c-pointer p-3 rounded">
          <!-- cards top section  -->
          <div class="d-flex align-items-center ">
            <div class="profile_icon_wrapper">
              <img src='{{data.profile}}' alt="">
            </div>
            <div class="ms-2">
              <span>{{data.fullName}}</span>
            </div>
          </div>
          <!-- description about person  -->
          <div class="mt-4">
            <!-- solution 1  -->
            <h4 class="fs-4">{{(data.description.length > 20) ? (data.description |
              slice:0:20)+'...':(data.description)}} </h4>
            <!-- solution 2 -->
            <!-- <h4 class="fs-4">{{data.description | slice:0:20}} <span *ngIf="data.description.length>20">...</span> </h4> -->
            <!-- solution 3 -->
            <!-- <h4 class="fs-4">{{data.description | truncate:[20,'...']}}</h4> -->

          </div>
          <!-- Designation -->
          <div>
            <span>{{data.designation}}</span>
          </div>
          <!-- skill  -->
          <div class="mt-2">
            <span class="">Skills:</span><span class="ms-1">{{data.skills}}</span>
          </div>
          <!-- Message -->
          <div class="mt-4">
            <button class="w-100 border border-primary rounded p-2">Message</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
