:root {
  --light: white;
  --dark-color: rgb(29, 29, 29);
}

$primary: #17a2b8;
$secondary: rgb(218, 218, 218);
$success: green;
$info: #17a2b8;
$ng-select-highlight: $info;
$warning: orange;
$danger: red;
$light: white;
$dark: rgb(29, 29, 29);
$white: white;
$primary-opacity: #17a3b883;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
);

// font
$font-family-base: "Poppins", sans-serif;
