.brand-wrapper {
  height: 40px;
  overflow: hidden;
  img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}

.search_wrapper:hover {
  background-color: $light !important;
  a {
    span {
      color: $primary !important;
    }
  }
}
.profile_wrapper {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
