<div class="form-wrapper h-100 d-flex align-items-center justify-content-center">
  <form class="w-50" [formGroup]="empForm" (ngSubmit)="onSubmitForm()">
    <div class="d-flex flex-column w-100">
      <input type="file" name="" id="" (change)="fileSelect($event)">
      <!-- name  -->
      <input type="text" placeholder="Enter Your Full Name" class="form-control my-2" formControlName="fullName">
      <!-- description -->
      <input type="text" placeholder="Describe Your Self" class="form-control my-2" formControlName="description">
      <!-- Desgination -->
      <ng-select class="my-2" [items]="designation" bindLabel="designation" bindValue="designation" [multiple]="true"
        formControlName="designation" placeholder="Designation">
      </ng-select>
      <!-- Skills  -->
      <ng-select class="my-2" [items]="skills" bindLabel="skill" bindValue="skill" [multiple]="true"
        formControlName="skills" placeholder="Select cities">
      </ng-select>
      <div class="mt-2 d-flex">
        <button type="reset" class="me-1 btn btn-danger text-light w-100">Reset</button>
        <button type="submit" class="ms-1 btn btn-primary text-light w-100">Submit</button>
      </div>

    </div>
  </form>
</div>
